:root {
    --blanco: #ffffff;
    --gris1: #edf2f6;
    --gris2: #2f3848;
    --gris3: #1a202d;
    --negro: #000000;
    --headingFont:'Raleway', sans-serif;
    --textFont:  'Roboto', sans-serif;
  }

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: aqua; */
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2.4rem;
    margin: 0;
}
h3 {
    font-size: 1.8rem;
    margin: 0;
}
h4 {
    font-size: 1.2rem;
    margin: 0;
}
.container {
    max-width: 100rem;
    margin: 0 auto;
}

.bg-primary {
    background-color: #bd25a6;
}

.form-usuario {
    margin: 5rem 0;
    /*background-color: var(--gris2);*/
    height: 50vh;
    /*min-height: 800px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contenedor-form {
    padding: 4rem 3rem;
    max-width: 500px;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    -webkit-box-shadow: 2px 3px 13px 8px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 2px 3px 13px 8px rgba(0, 0, 0, 0.27);
    box-shadow: 2px 3px 13px 8px rgba(0, 0, 0, 0.27);
}

.campo-form {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.campo-form:last-of-type {
    margin: 0;
}
.campo-form label {
    flex: 0 0 100px;
}
.campo-form input[type="password"],
.campo-form input[type="email"],
.campo-form input[type="text"] {
    border: 1px solid #e1e1e1;
    padding: 1rem;
    flex: 1;
}

.enlace-cuenta {
    margin-top: 2rem;
    display: block;
    opacity: .7;
  }

  .btn {
    margin-top: 2rem;
    font-family: var(--headingFont);
    padding: 1.5rem;
    font-size: 1.4;
    font-weight: 400;
    border-radius: .5rem;
    border: none;
    transition: background-color .3s ease;
  }
  .btn:hover {
    cursor: pointer;
  }
  .btn-primario {
    background-color: var(--gris2);
    color: var(--blanco);
  }
  .btn-primario:hover {
    background: var(--gris3);
  }
  .btn-secundario {
    background-color: var(--gris1);
  }
  .btn-block {
    display: block;
    width: 100%;
  }
  .btn-submit:hover {
    background-color: var(--gris2);
  }
  .btn-blank {
    margin: 0;
    padding: 0;
    display: block;
    background-color: transparent;
  }


  .alerta {
    /* position: fixed;
    top: 0;
    left: 0; */
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-family: var(--headingFont);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }
  @media (min-width:768px) {
    .alerta {
        width: auto;
        top: 30px;
        right: 10px;
        left: auto;
    }
  }
  
  .alerta-ok {
    background-color: rgb(109, 211, 109);
    color: rgb(2, 103, 2);
  }
  .alerta-error {
    background-color: rgb(230, 78, 78);
    color: var(--blanco);
  }